html, body, *{
margin: 0;
padding: 0;
font-size:62.5%;
box-sizing:border-box;
}

.parent{
    background-color: brown;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100rem;
    height: 100rem;

}

.child{

    background-color: aquamarine;
    box-sizing: border-box;
    border: 1.5px solid fuchsia;
    width: 29%;
    height: 29%;
}
