html, body, *{

    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;


font-size: 100%;
}

.parent{
    margin: 5vh;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;

}

.child{
    background-color: aquamarine;
    box-sizing: border-box;
    border: 1.5px solid fuchsia;
    width: 29%;
}
